<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                              http://java.sun.com/xml/ns/javaee/web-app.xsd"
	version="3.0">

	<display-name>Spring Security</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			<!-- classpath:spring/case1/app-context.xml
			/WEB-INF/spring/case1/security-context.xml -->
            <!-- classpath:spring/case2/app-context.xml
            /WEB-INF/spring/case2/security-context.xml -->
            classpath:spring/case3/app-context.xml
            /WEB-INF/spring/case3/security-context.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!-- <param-value>/WEB-INF/spring/case1/mvc-servlet.xml</param-value> -->
			<!-- <param-value>/WEB-INF/spring/case2/mvc-servlet.xml</param-value> -->
			<param-value>/WEB-INF/spring/case3/mvc-servlet.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
